#nav{
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

body{
    background-image: url('../img/white_bg2.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
    font-family: Arial, sans-serif;

    /* background: rgb(33,34,69);
    background: linear-gradient(360deg, rgba(33,34,69,1) 0%, rgba(100,198,196,1) 50%, rgba(164,203,106,1) 100%); */

}

label{
    color: rgb(85, 85, 85);
}

h3{
    color: rgb(85, 85, 85);
}

.btn {
    background-color: rgb(130, 130, 130); /* Gray */
    color: white;
    border-color: rgb(130, 130, 130);
}

.btn:hover {
    background-color: rgb(200, 200, 200); /* Pale Gray */
    color: white;
}

.form-control{
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgb(85, 85, 85);
    color: rgb(100, 100, 100);
}

.form-control:focus {
    background: rgba(255, 255, 255, 0.5); 
    border-color: rgb(85, 85, 85); 
    box-shadow: none; 
    color: rgb(100, 100, 100); 
}

.form_bg {
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
  
#signup_link {
    font-weight: bold;
    color: rgb(85, 85, 85);
    text-decoration: none;
}

#signup_link:hover {
    color: rgb(130, 130, 130);
    text-decoration: underline;
}
